<div class="navbar-lewagon">

</div>
<div class="container mt-3">
  <h1>Cocktails</h1>
  <% @cocktails.each do |cocktail| %>
    <div class="card col-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(url)">
    <%= cocktail.name %>
    <%= link_to "View More", cocktail_path(cocktail)  %>
    </div>
  <% end %>

  <%= link_to "Create a new cocktail", new_cocktail_path, class: "btn btn-primary" %>



</div>
